header{
    width:100%;
    padding: 10px;
    background: #030c6d;
    border: 1px solid #030c6d;
}

.s{
    padding: 14px 28px;
    width:100%;
    background:  #030c6d;
    margin-top: auto;
    color:white;
    border: 1px solid #030c6d;
}

button:hover, button:focus {
    background: rgb(207, 0, 0);
    outline: 0;
  }